@import 'colors';
body {
  background-color: $background-color;
  color: $font-color;
  // https://codepen.io/M_J_Robbins/pen/NPRGjP
  // background:url(http://www.mariomayhem.com/fun/smb_level_editor/images/overworld_bg.png);
  //  background-repeat: repeat-x;
  //  background-position: bottom;
  //  background-color:#5E91FE;
  //  height:80%;
  //  position:relative;
}

p {
  color: $font-color;
}

img {
  text-align: center;
  margin: 0 auto;
  padding: auto;
  display:block;
}

#spacer {
  height: 50px;
  float: left;
  clear: both;
}

// .board {
//   height: 350px;
//   margin: 0 auto;
//   text-align: center;
//   width: 350px;
//   // float: left;
// }

.col-xs-4 {
  background-color: $box-background-color;
  border: #000 solid;
  height: 100px;
  width: 100px;
  text-align: center;
  padding: auto;
  margin: 0 auto;
}

// html, body{
//   height:100%;
//   margin:0;
// }
