// $icon-font-path: '~bootstrap-sass/assets/fonts/bootstrap/';
// @import '~bootstrap-sass/assets/stylesheets/bootstrap';
@import 'colors';

body {
  background-color: $background-color;
  color: $font-color;
  // https://codepen.io/M_J_Robbins/pen/NPRGjP
  // background:url(http://www.mariomayhem.com/fun/smb_level_editor/images/overworld_bg.png);
  //  background-repeat: repeat-x;
  //  background-position: bottom;
  //  background-color:#5E91FE;
  //  height:80%;
  //  position:relative;
}

p {
  color: $font-color;
}

img {
  text-align: center;
  margin: 0 auto;
  padding: auto;
  display:block;
}

#logInButton {
  text-align: center;
  width: 100px;
}

#myModal {
  color: $background-color;
  // height: 100%;
  // width: 100%;
}

#games {
  text-align: center;
}

#spacer1 {
  text-align: center;
}

.scoreRowBoard {
  text-align: center;
  // height: 200px;
  width: 200px;
}

.col-xs-12 {
  height: 50px;
}

.game-update {
  background-color: $box-background-color;
  font-size: 14px;
  border: #000 solid;
  height: 68px;
  width: 68px;
  text-align: center;
  padding: 0;
  margin: 0 auto;
}

#game-create-new {
  clear: both;
}

.board {
  float: left;
  padding: 0;
  margin: 0 auto;
  overflow: hidden;
  // max-width: 350px;
}
