// $icon-font-path: '~bootstrap-sass/assets/fonts/bootstrap/';
// @import '~bootstrap-sass/assets/stylesheets/bootstrap';
@import 'colors';

body {
  background-color: $background-color;
  color: $font-color;
  // https://codepen.io/M_J_Robbins/pen/NPRGjP
  // background:url(http://www.mariomayhem.com/fun/smb_level_editor/images/overworld_bg.png);
  //  background-repeat: repeat-x;
  //  background-position: bottom;
  //  background-color:#5E91FE;
  //  height:80%;
  //  position:relative;
}

p {
  color: $font-color;
}

img {
  text-align: center;
  margin: 0 auto;
  padding: auto;
  display:block;
}

#myModal {
  color: $background-color;
}

.board {
  float: left;
  margin: 0 auto;
  overflow: hidden;
}

.col-xs-12 {
  height: 50px;
}

// .board {
//   height: 350px;
//   margin: 0 auto;
//   text-align: center;
//   width: 350px;
//   // float: left;
// }

.game-update {
  background-color: $box-background-color;
  font-size: 14px;
  border: #000 solid;
  height: 68px;
  width: 68px;
  text-align: center;
  padding: 0px;
  margin: 0 auto;
}

// .container {
//   background-color: $box-background-color;
//   border: #000 solid;
//   height: 200px;
//   width: 200px;
//   text-align: center;
//   padding: 0px;
//   margin: 0 auto;
// }
#game-create-new {
  clear: both;
}


// html, body{
//   height:100%;
//   margin:0;
// }
